<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello plz choose the control to move forward</h1>
    <select name="language_combo" id="language_combo">
        <%for(i=0;i<data.length;i++){%>
            <option value="<%=data[i].option%>">
                <%=data[i].option%>
            </option>
            <%}%>
    </select>

   <!-- Select Languages:
    <%for(i=0;i<data.length;i++){%>
     <input type="checkbox"><%=data[i].option%>
    <%}%> -->
</body>

</html>